<div class='content'>
<% if @transaction.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

    <ul>
    <% @transaction.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: @transaction, url: transactions_path, local: true) do |form| %>
  <div>
    <%= form.label :transaction_type, '取引タイプ' %>
    <%= form.radio_button :transaction_type, 'deposit' %> 入金
    <%= form.radio_button :transaction_type, 'payment' %> 支払い
  </div>
  <div>
    <%= form.label :amount, '金額' %>
    <%= form.number_field :amount, min: 1 %>
  </div>
  <div>
    <%= form.label :description, '説明' %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :transaction_date, '取引日' %>
    <div class='transaction_date-field'>
      <%= form.datetime_select :transaction_date %>
    </div>
  </div>
  <%= form.submit '追加' %>
<% end %>
</div>
